<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kromatic</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="description"
    content="Kromatic : Expertise en IA, Low Code / No Code. Accompagnement dans la transformation digitale pour TPE, PME, et associations.">
  <meta name="keywords"
    content="Kromatic, transformation digitale, IA, Low Code, No Code, conseil, développement, expertise">
  <meta name="author" content="Romain Koenig">
  <meta name="robots" content="index, follow">
  <link rel="icon" href="kromatic.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body>
  <header class="center">
    <a href="/">
    <img src="/images/logo.svg" alt="Kromatic logo" width="100" height="100">
    </a>
    <h1>Kromatic</h1>
  </header>
  {{ content | safe }}
  <footer>
    <h2>Pour me joindre&nbsp;:</h2>
    <ul>
      <li>
        Par e-mail à l'adresse <em>contact [AT] kromatic.fr</em>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/romainkoenig/" target="_blank" rel="noopener noreferrer">Écrivez-moi sur LinkedIn</a>
      </li>
    </ul>
    

    <div class="center">
      <img src="/images/solarpunk_illustration_04.png" alt="Solarpunk illustration - Renewable energy" width="400px"
        height="228px">
    </div>
    <nav>
      <ul>
        <li><a href="/">Accueil</a> <br></li>
        <li><a href="/mentions">Mentions légales</a></li>
      </ul>
    </nav>

    <div id="wcb" class="carbonbadge wcb-d"></div>
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>

  </footer>
</body>

</html>