@media print {

	nav,
	footer {
		display: none !important;
	}

	img {
		display: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	body {
		color: black !important;
		font-size: 10pt;
		font-family: "Century Gothic", Arial, sans-serif;
		width: 100%;
	}

	body,
	a,
	a:hover,
	a:visited {
		background: none !important;
	}

	a[href]:after {
		content: " (" attr(href) ") ";
	}

	.page-break {
		page-break-before: always;
	}
}