@media (prefers-color-scheme: dark) {
	body {
		background: #000;
		color: #fff
	}

	a {
		color: #af96ff
	}

	a:visited {
		color: #866cdb
	}

}

img {
	display: block;
	margin: 0 auto
}

.un_un {
	aspect-ratio: 1 / 1;
	width: 100%;
}

.sept_cinq {
	aspect-ratio: 7 / 5;
	width: 100%;
}

.seize_neuf {
	aspect-ratio: 175 / 100;
	width: 100%;
}


body {
	margin: 1em auto;
	max-width: 40em;
	padding: 0 .62em 3.24em;
	font: 1.2em/1.62em 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
	line-height: 1.2
}

@media print {
	body {
		max-width: none
	}
}

.center {
	text-align: center
}

.lighthouse {
	text-align: center;
}

speedlify-score {
	width: 100%;
	justify-content: center;
	padding-top: 1rem;
}